body {
    background: url(../img/bg2.jpg);
    background-size: cover;
}

h1 {
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    color: white;
}

button {
    margin-left: 400px;
    height: 80px;
    width: 80px;
    border-radius: 5px;
    border: transparent;
    background-color: rgba(59, 25, 25, 0.308);
    color: white;
}

button:hover {
    background-color: black;
    cursor: pointer;

}

button a {
    color: white;
    text-decoration: none;
}